{erl_opts, [warnings_as_errors, debug_info]}.
{deps, [{cowboy, "2.13.0"}, {jargon, "1.0.1"}]}.
{pre_hooks, [{compile, "make nif resources"}]}.
{relx, [{release, {bibleit_server, {file, "VERSION"}}, [bibleit_server, sasl]},
        {mode, prod},
        {include_erts, true},
        {extended_start_script, true}]}.
